@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h2>Properties</h2>
    <div id="property-list" class="row">
        @for (int i = 0; i < Model.Properties.Count; i++)
        {
            var property = Model.Properties[i];
            var isLast = i == Model.Properties.Count - 1;
            var nextPage = Model.PageNumber + 1;
            var url = "hx-get=/?pageNumber=2&handler=Listings hx-trigger=revealed hx-swap=afterend";
            <div class="col-md-4 mb-4" @(isLast ? url:"")>
                @await Html.PartialAsync("_PropertyCard", property)
            </div>      
        }
    </div>
</div>
